* {
    font-family: sans-serif;
}

.header , .footer{
    background-color: #1F2937;
    color: white;
}

.header {
    padding: 5px 100px;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.link-container {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.link a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.footer {
    
}