* {
    font-family: sans-serif;
}

.header , .footer{
    background-color: #1F2937;
    color: white;
}

.header, .call-to-action {
    padding: 100px 100px;
    padding-top: 5px;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.link-container {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.link a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: stretch;
    gap: 10px;
    flex: 1 1 auto;
}

.hero-container {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882f6;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    padding: 8px 20px;
}

.img {
    width: 100%;
    background-color: grey;
    border-radius: 10px;
}

.second-section {
    margin: 10px 200px;
    margin-bottom: 100px;
}
.random-header {
    text-align: center;
    font-weight: bolder;
}

.random-boxes-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.random-img {
    border: 3px solid #3882f6;
    width: 140px;
    height: 150px;
    border-radius: 10px;
}

.random-fact {
    text-align: center;
    width: 150px;
}

.footer {
    text-align: center;
    font-size: small;
    padding: 20px 0;
}